In [55]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split

In [56]:
df = pd.read_csv(r'data/titanic.csv')

In [57]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [58]:
X = pd.DataFrame()

X['sex'] = df['Sex']
X['age'] = df['Age']
X['survived'] = df['Survived']

In [59]:
X

        sex   age  survived
0      male  22.0         0
1    female  38.0         1
2    female  26.0         1
3    female  35.0         1
4      male  35.0         0
5      male   NaN         0
6      male  54.0         0
7      male   2.0         0
8    female  27.0         1
9    female  14.0         1
10   female   4.0         1
11   female  58.0         1
12     male  20.0         0
13     male  39.0         0
14   female  14.0         0
15   female  55.0         1
16     male   2.0         0
17     male   NaN         1
18   female  31.0         0
19   female   NaN         1
20     male  35.0         0
21     male  34.0         1
22   female  15.0         1
23     male  28.0         1
24   female   8.0         0
25   female  38.0         1
26     male   NaN         0
27     male  19.0         0
28   female   NaN         1
29     male   NaN         0
..      ...   ...       ...
861    male  21.0         0
862  female  48.0         1
863  female   NaN         0
864    male  24.0         0
865  female  42.0         1
866  female  27.0         1
867    male  31.0         0
868    male   NaN         0
869    male   4.0         1
870    male  26.0         0
871  female  47.0         1
872    male  33.0         0
873    male  47.0         0
874  female  28.0         1
875  female  15.0         1
876    male  20.0         0
877    male  19.0         0
878    male   NaN         0
879  female  56.0         1
880  female  25.0         1
881    male  33.0         0
882  female  22.0         0
883    male  28.0         0
884    male  25.0         0
885  female  39.0         0
886    male  27.0         0
887  female  19.0         1
888  female   NaN         0
889    male  26.0         1
890    male  32.0         0

[891 rows x 3 columns]

In [60]:
X.dropna()

        sex   age  survived
0      male  22.0         0
1    female  38.0         1
2    female  26.0         1
3    female  35.0         1
4      male  35.0         0
6      male  54.0         0
7      male   2.0         0
8    female  27.0         1
9    female  14.0         1
10   female   4.0         1
11   female  58.0         1
12     male  20.0         0
13     male  39.0         0
14   female  14.0         0
15   female  55.0         1
16     male   2.0         0
18   female  31.0         0
20     male  35.0         0
21     male  34.0         1
22   female  15.0         1
23     male  28.0         1
24   female   8.0         0
25   female  38.0         1
27     male  19.0         0
30     male  40.0         0
33     male  66.0         0
34     male  28.0         0
35     male  42.0         0
37     male  21.0         0
38   female  18.0         0
..      ...   ...       ...
856  female  45.0         1
857    male  51.0         1
858  female  24.0         1
860    male  41.0         0
861    male  21.0         0
862  female  48.0         1
864    male  24.0         0
865  female  42.0         1
866  female  27.0         1
867    male  31.0         0
869    male   4.0         1
870    male  26.0         0
871  female  47.0         1
872    male  33.0         0
873    male  47.0         0
874  female  28.0         1
875  female  15.0         1
876    male  20.0         0
877    male  19.0         0
879  female  56.0         1
880  female  25.0         1
881    male  33.0         0
882  female  22.0         0
883    male  28.0         0
884    male  25.0         0
885  female  39.0         0
886    male  27.0         0
887  female  19.0         1
889    male  26.0         1
890    male  32.0         0

[714 rows x 3 columns]

In [62]:
X = X.dropna()

In [63]:
Y = X['survived']
Y

0      0
1      1
2      1
3      1
4      0
6      0
7      0
8      1
9      1
10     1
11     1
12     0
13     0
14     0
15     1
16     0
18     0
20     0
21     1
22     1
23     1
24     0
25     1
27     0
30     0
33     0
34     0
35     0
37     0
38     0
      ..
856    1
857    1
858    1
860    0
861    0
862    1
864    0
865    1
866    1
867    0
869    1
870    0
871    1
872    0
873    0
874    1
875    1
876    0
877    0
879    1
880    1
881    0
882    0
883    0
884    0
885    0
886    0
887    1
889    1
890    0
Name: survived, Length: 714, dtype: int64

In [64]:
X = X.drop(['survived'], axis=1)

In [65]:
X = X.dropna()

In [66]:
pd.get_dummies(X.sex)

     female  male
0         0     1
1         1     0
2         1     0
3         1     0
4         0     1
6         0     1
7         0     1
8         1     0
9         1     0
10        1     0
11        1     0
12        0     1
13        0     1
14        1     0
15        1     0
16        0     1
18        1     0
20        0     1
21        0     1
22        1     0
23        0     1
24        1     0
25        1     0
27        0     1
30        0     1
33        0     1
34        0     1
35        0     1
37        0     1
38        1     0
..      ...   ...
856       1     0
857       0     1
858       1     0
860       0     1
861       0     1
862       1     0
864       0     1
865       1     0
866       1     0
867       0     1
869       0     1
870       0     1
871       1     0
872       0     1
873       0     1
874       1     0
875       1     0
876       0     1
877       0     1
879       1     0
880       1     0
881       0     1
882       1     0
883       0     1
884       0     1
885       1     0
886       0     1
887       1     0
889       0     1
890       0     1

[714 rows x 2 columns]

In [67]:
# Female = 0 and Male = 1
X['sex'] = pd.get_dummies(X.sex)

In [68]:
X

     sex   age
0      0  22.0
1      1  38.0
2      1  26.0
3      1  35.0
4      0  35.0
6      0  54.0
7      0   2.0
8      1  27.0
9      1  14.0
10     1   4.0
11     1  58.0
12     0  20.0
13     0  39.0
14     1  14.0
15     1  55.0
16     0   2.0
18     1  31.0
20     0  35.0
21     0  34.0
22     1  15.0
23     0  28.0
24     1   8.0
25     1  38.0
27     0  19.0
30     0  40.0
33     0  66.0
34     0  28.0
35     0  42.0
37     0  21.0
38     1  18.0
..   ...   ...
856    1  45.0
857    0  51.0
858    1  24.0
860    0  41.0
861    0  21.0
862    1  48.0
864    0  24.0
865    1  42.0
866    1  27.0
867    0  31.0
869    0   4.0
870    0  26.0
871    1  47.0
872    0  33.0
873    0  47.0
874    1  28.0
875    1  15.0
876    0  20.0
877    0  19.0
879    1  56.0
880    1  25.0
881    0  33.0
882    1  22.0
883    0  28.0
884    0  25.0
885    1  39.0
886    0  27.0
887    1  19.0
889    0  26.0
890    0  32.0

[714 rows x 2 columns]

In [69]:
print(X.shape)
print(Y.shape)

(714, 2)
(714,)

In [70]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.25)

In [71]:
X_train.shape

(535, 2)

In [72]:
y_train.shape

(535,)

In [73]:
classifier = LogisticRegression()
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [75]:
classifier.predict(X_train)

array([0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0,
       1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1,
       0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 1, 1], dtype=int64)

In [77]:
classifier.score(X_train, y_train)

0.77757009345794392

In [78]:
classifier.score(X_test, y_test)

0.78770949720670391

In [79]:
from sklearn import metrics

In [80]:
pred = classifier.predict(X_test)

metrics.accuracy_score(y_test, pred)

0.78770949720670391